@using Corbis.CMS.Entity
@model IEnumerable<AdminUser>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null,
            new Dictionary<string, object> { { "class", "btn2 btn2-info" } })
</p>
<div id="content">
    @Html.Partial("UserGridPartial",Model)
</div>
<script type="text/javascript">
    function deleteUser(user, trigger) {
        if (!confirm("Do you really want to delete '" + user.login + "'?")) return;
        $.ajax({
            url: '@Url.Action("DeleteUser", "User")',
            type: 'POST',
            data: { id: user.id },
            success: function (result) {
                if (result.success) {
                    $(trigger).closest('tr').remove();
                }
                else {
                    alert('Error');
                }
            }
        });
    }
</script>