<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Corbis.DB.Linq.Properties.Settings.Corbis_MainConnectionString"
            connectionString="Data Source=PAVELSM\MSSQL2008;Initial Catalog=Corbis.Main;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Corbis.DB.Linq.Properties.Settings.Corbis_MainConnectionString1"
            connectionString="Data Source=YMURASHKA\SQLEXPRESS;Initial Catalog=Corbis.Main;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>