html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
        min-width: 1000px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}



       #searchbar {
padding: 0 5px;
height: 25px;
overflow-x: hidden;
text-overflow: clip;
width: 260px;
float: left;
margin: 0 0 0 3px;
}

#results-panel {
padding: 5px 0 0;
overflow: hidden;
min-height: 800px;
}

div.search-image-border {
padding: 4px;
border: 2px solid transparent;
}
.result_image-panel {
float: left;
width: 172px;
}

.image_thumbnail {
border: 1px solid #333;
display: block;
font-size: 60px;
position: relative;
text-align: center;
width: 190px;
}

.rfcd-panel {
float: left;
padding: 2px 0 0 0;
}

.rmrs-icon {
float: left;
width: 20px;
height: 20px;

color: Black;
font-weight: bold;
font-size: 12px;
}

.rmrs-label {
margin: 3px 2px;
text-align: center;
}

.image_details-panel {
clear: both;
font-size: 10px;
padding: 2px;
text-align: left;
line-height: 10px;
margin: 3px 0 0 0;
}

.image_category-text {
color: #CCC;
font-weight: bold;
}

.image_collection-text {
color: #999;
}

.image_number-text {
color: #777;
}

.image_title-text {
color: #CCC;
}

.image_date_photo-text {
color: #999;
}

img.preview_image {
cursor: pointer;
vertical-align: middle;
border: 1px solid #333;
}

p a
{
	background: inherit;
	color: #777;
}

p a:hover
{
	background: inherit;
	color: #000;
}

/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 185px;
	height: 120px;
}


.hoverbox .preview
{
	border-color: #000;
}

.hoverbox li {
background: #EEE;
border-color: #DDD #BBB #AAA #CCC;
border-style: solid;
border-width: 1px;
color: inherit;
display: inline;
float: left;
margin: 3px;
padding: 5px;
position: relative;
width: 200px;
height: 220px;
}

.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px; _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.text-input, .autocomplete-subscribe .text-input {
font-size: 16px;
width: 100%;
padding: 0 1.5%;
}
.text-input {
    color: #7F7F7F;
    font-family: 'Adelle W01 Regular', serif;
    font-size: 18px;
    border-radius: 4px;
    width: 295px;
    height: 32px;
    line-height: 22px;
    background-color: #FBFBFB;
    border: 1px solid #C1C1C1;
    padding: 0px 2px;
    margin-bottom: 15px;
}
/*gallery styles*/
.galleryItem{ overflow: hidden;margin-bottom: 15px;}
.galleryItem:last-of-type{margin-bottom: 0px;}
.galleryItem .imgWrapper{ border: 1px solid #666;width: 100px;height: 100px;float: left;}
.galleryItem .infoWrapper{height: 80px;margin-left: 110px;}
.galleryItem .galleryTitle{ font-weight: bold;margin-bottom: 10px;}
.galleryItem .galleryTitle div{ display: inline;margin-left: 190px;font-weight: normal;}
.galleryItem .createDate{ padding-left: 3px;margin-bottom: 16px;}
.globalToolbar{ background-color: #000;overflow: hidden;margin-top: 10px;}
.globalToolbar ul{ list-style: none;padding: 0;margin: 0;margin-left: 32%;}
.globalToolbar ul li{ float: left;}
.globalToolbar ul li a{ color: #fff;display: block;height: 34px;padding: 0 10px;line-height: 34px;}
.globalToolbar ul li a:hover{ background-color: #666;text-decoration: none;}
.contentImage{margin-bottom: 20px;border: 1px solid #666;padding: 10px 30px 10px 10px;position: relative;}
.contentImage:hover{-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.imgArea{float: left;}
.imgArea .imgToolbar{margin-bottom: 10px}
.imgArea .txtAlign{overflow: hidden;zoom:1;}
.imgArea .txtAlign ul{list-style: none;margin: 0px;padding: 0px;margin-left: 35px;}
.imgArea .txtAlign ul li{float: left;margin-right:10px;}
.imgArea .txtAlign ul li:last-child{margin-right:0px;}
.imgArea .txtAlign ul a{padding: 0;border:1px solid #666;width: 50px; height: 50px;display: block;background:url('../Images/align_text.png') no-repeat;}
.imgArea .txtAlign ul a:hover{border:1px solid #3740fa;}
.imgArea .txtAlign ul li.active a{border:1px solid #f00;}
.imgArea .txtAlign ul li.left a{background-position: 0 0;}
.imgArea .txtAlign ul li.right a{background-position: 0 -50px;}
.imgArea .txtAlign ul li.center a{background-position: 0 -100px;}
.imgArea .txtAlign ul li.bottom a{background-position: 0 -150px;}
.imgArea .txtAlign ul li.top a{background-position: 0 -200px;}
.txtArea{float:right;width: 500px;}
.txtArea .radioGroup{ margin-bottom: 10px;}
.txtArea .radioGroup label{cursor:pointer;margin-right:5px;display: inline;font-weight: normal;}
.txtArea .radioGroup input[type=radio]{margin-right:10px;cursor:pointer;width: auto;}
.txtInputs{ overflow: hidden;width: 512px;}
.txtInputs form label{ text-align: left;}
.txtInputs textarea{height:90px;resize: none;padding: 5px;border:1px solid #666;}
.txtInputs input[type=text]{border:1px solid #666;width: 500px;}
.txtInputs input[type=submit]{float:right;}
.up_down{ position: absolute;right: 0;top: 50%;background-color: #000;margin-right: -10px;margin-top: -40px;display: none;background: url('../Images/up_down_button.png') no-repeat top left;width: 20px;height: 80px;}
.up_down a{ display: block;background-position: 0 0; width: 20px;height: 40px;}
.up_down a.up{background: url('../Images/up_down_button.png') no-repeat;background-position: 0 0;}
.up_down a.down{background: url('../Images/up_down_button.png') no-repeat;background-position: 0 -40px;}
.up_down a.up:hover{ background-position: 0 -80px;}
.up_down a.down:hover{ background-position: 0 -120px;}
.contentImage:hover .up_down{ display: block;}
.toolbar{cursor: pointer; position: absolute;top: 0;right: 0;margin-right: -1px;margin-top: -20px;background: url('../Images/toolbar_button.png') no-repeat top left;width: 40px;height: 20px;display: none;}
.toolbar a{ padding: 0px;}
.toolbar a.minimal{background: url('../Images/toolbar_button.png') no-repeat;background-position: 0 0;float: left;width: 20px;height: 20px;}
.toolbar a.close{background: url('../Images/toolbar_button.png') no-repeat;background-position: -20px 0;float: right;width: 20px;height: 20px;}
.toolbar a.minimal:hover{background-position: 0 -20px;float: left;}
.toolbar a.close:hover{background-position: -20px -20px;float: left;}
.contentImage:hover .toolbar{ display: block;}


/*
section h4{display:inline;}
.name{margin-bottom:40px;}
.name input[type=text]{width:230px;margin-left:8px;margin-right:23px;}
input[type=button]{
    width: 74px;
    border:1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type=button].save{background-color: #a8d874;}
input[type=button].cancel{background-color: #f84b47;}
.orLabel{margin:0 4px;}
.ddSelect{margin-bottom: 15px;}
.ddSelect select{margin-left:40px;}
.templPreview{overflow: hidden;zoom:1;}
.templPreview ul{list-style: none;}
.templPreview ul li{float:left;margin-left:12px;border:1px solid #fff;}
.templPreview ul a{text-decoration: none;color:#000;}
.templPreview ul li:hover{border:1px solid #5c87b2;}
.templPreview ul li.current{border:1px solid #f00;}
.templPreview ul a span{display:block;text-align: right;font-size: 10px;padding:0 3px;}
.buttonWP{text-align: right;margin-top:30px;}
.livePreview .imgArea .imgPresenter{height: 191px;}
.livePreview .imgArea .alignText ul li a{background: url('../images/live_preview.png') no-repeat;}
.livePreview .imgArea .alignText ul li.tLeft a{background-position: 0 0;}
.livePreview .imgArea .alignText ul li.tRight a{background-position: 0 -50px;}
.livePreview .imgArea .alignText ul li.center a{background-position: 0 -100px}
.livePreview .imgArea .alignText ul li.bLeft a{background-position: 0 -150px}
.livePreview .imgArea .alignText ul li.bRight a{background-position: 0 -200px;}
.size{width: 20px;margin-left: 20px;}
.string{margin-bottom:5px;}
.textArea textarea{resize: none; width: 300px;height: 155px;}
.url{width:298px;margin-bottom: 5px;}
.livePreview .textArea input[type=button]{float: right;cursor: pointer;}
.livePreview .textArea .inputName{width: 248px;}
.label{font-size:12px;text-align: right;}
*/