
# ***************** VS 2010 TEMP FILES & FOLDERS **************************

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
[Oo]bj

# mstest test results
[Tt]est[Rr]esults

# Resharper folder
*[Rr]esharper*

*.suo
*.user
*.[Dd]bmdl
*.[Cc]ache

*.orig

# ***************** CORBIS TEMP FILES & FOLDERS **************************

# ignore temp files for DB projects
Sources/Storage/Corbis.DB.Log/sql/*
Sources/Storage/Corbis.DB.Main/sql/*
Sources/Storage/Corbis.DB.Resources/sql/*

Sources/Storage/Deployment/DbDeployment.bat
Sources/Storage/Deployment/DbSessionSetup.bat
Sources/Storage/Deployment/*.txt
!Sources/Storage/Deployment/_README.txt

Sources/Storage/Corbis.DataImporter/[Aa]pp.config

NuGet.Repository/*
!NuGet.Repository/_README.txt

# ignore config files
Sources/Public/Corbis.Public.Web/[Ww]eb.config
Sources/Public/Corbis.WebAPI/[Ww]eb.config
Sources/Public/Corbis.Public.Repository/[Aa]pp.config

Sources/CMS/Corbis.CMS.Web/[Ww]eb.config
Sources/CMS/Corbis.CMS.Repository/[Aa]pp.config
Sources/CMS/Corbis.CMS.Web/CuratedGalleries/*
!Sources/CMS/Corbis.CMS.Web/CuratedGalleries/*.txt


Sources/Share/Corbis.Logging/NLog.config
# ************************************************************************
Sources/CMS/Corbis.CMS.Web/App_Data/Corbis_Garbage.mdf
Sources/CMS/Corbis.CMS.Web/App_Data/Corbis_Garbage_log.LDF