@using Corbis.CMS.Web.Code
@using Corbis.CMS.Entity
@if (Request.IsAuthenticated) {
    var user = this.GetCurrentUser();
    <text>
        Hello, @(Html.Raw(user.GetFullName()))!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
