@using Corbis.CMS.Web.Code
@using Corbis.CMS.Web.Models
@model BodyCopyTextContentModel

<label>Drop Cap</label>
@Html.TextBoxFor(x => x.DropCap)
<label>Body Copy</label>
@Html.TextAreaFor(x => x.BodyCopy)
