@using Corbis.CMS.Web.Models
@model GalleryTemplateModel
<p>
    @Html.Raw(this.Model.Description)
</p>
<img src="@this.Model.ImageUrl" alt="" />
@*<ul>
    <li><a href=""><img src="ti/q_03.png" alt=""><span>Paralax</span></a></li>
    <li><a href=""><img src="ti/q_03.png" alt=""><span>Paralax</span></a></li>
    <li><a href=""><img src="ti/q_03.png" alt=""><span>Paralax</span></a></li>
    <li><a href=""><img src="ti/q_03.png" alt=""><span>Paralax</span></a></li>
    <li><a href=""><img src="ti/q_03.png" alt=""><span>Paralax</span></a></li>
</ul>*@