@using Corbis.CMS.Web.Models
@model List<GalleryItemModel>
@{
    ViewBag.Title = "Curated Galleries";
}


@Scripts.Render("~/Scripts/Corbis/Corbis.Gallery.js")
<h2>Curated Galleries</h2>
<p>
    @Html.ActionLink("Create New Gallery", "CreateGallery", "Gallery")
</p>
<div>
@foreach (var item in this.Model) {
    @Html.Partial("GalleryListItemPartial", item)
}
</div>

<script type="text/javascript">
/// ***********  ADD REFERENCES HERE FOR INTELLISENSE SUPPORTING **********
/// <reference path="~/Scripts/jquery-1.7.1-vsdoc.js" />
/// <reference path="~/Scripts/Corbis/Corbis.Common.js" />
/// ***********************************************************************
</script>
