@using Corbis.CMS.Web.Models
@using Corbis.CMS.Web.Code
@model QnATextContentModel

<div>
    <label>Question</label>
    @Html.TextAreaFor(x => x.Question)
</div>
<div>
    <label>Answer</label>
    @Html.TextAreaFor(x => x.Answer)
</div>
<div>
    <label>Height</label>@Html.TextBoxFor(x => x.Height)
    <label>Width</label>@Html.TextBoxFor(x => x.Width)
</div>

